@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase

<MudThemeProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row d-flex justify-content-between" style="padding: 35px;">
            <div style="font-size: 25px;">
                <SectionOutlet SectionName="page-title"></SectionOutlet>
            </div>
            <AuthorizeView>
                <a href="/logout">Logout</a>
            </AuthorizeView>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
