<div class="d-block navbar text-center bg-white" style="padding: 1rem; font-size: 25px; color: #007D88">
	<i class="fas fa-handshake-angle"></i>
</div>

<ul class="nav nav-pills nav-flush flex-column mb-auto text-center" style="padding: 8px">
	<li class="nav-item">
		<NavLink class="nav-link d-flex justify-content-center" href="/" Match="NavLinkMatch.All">
			<i class="fas fa-tachometer-alt"></i>
		</NavLink>
	</li>
	<li class="nav-item">
		<NavLink class="nav-link d-flex justify-content-center" href="ticket">
			<i class="fas fa-tasks"></i>
		</NavLink>
	</li>
</ul>